@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	     font: 100%/1.4 Verdana;
}
.homePage {
	background: #00F59E;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #00ABF5;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #00F5F1;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #00F54A;
	margin: 0px;
	float: left;
	width: 100%;
	
	text-align: center;
}
.footer {
	background: #005EF5;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
